* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family:  'Lucida Grande',  Verdana, Tahoma, sans-serif;
    margin: 10 auto;
}

.narrow-cont {
    max-width: 1200px;
    width: 100%;

}

.center {
    align-items: center;
    text-align: center;
}
