<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <h1>{{category.name}}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        
        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>

      {% endif %}
    {% endwith %}

    <a href= {{ url_for('newBookItem', category_id=category.id) }}>Create new item</a>

    {% for i in items %}

    <div>
      <h3>{{i.name}}</h3>
      <p>{{i.description}}</p>
      <p> {{i.year}} </p>
      <p> {{i.author}} </p>
      <p> Creator: {{i.user_id}} </p>
    </div>
        <a href= {{ url_for('editBookItem', category_id=category.id, book_id=i.id) }}>Edit</a>
    <br>
    <a href= {{ url_for('deleteBookItem', category_id=category.id, book_id=i.id) }}>Delete</a>
    <hr>
    <p>==============================================</p> 



    {% endfor %}
  </body>
</html>